# Used when running the backend locally without Docker.
# Change 'mysql' to 'localhost' in DATABASE_URL.
NODE_ENV=development
PORT=5000
DATABASE_URL=mysql://helfy_user:helfy_password@localhost:3307/helfy
JWT_ACCESS_SECRET=wDiXUYJska5Zx3ouMqmj4P9dAPCSS2aW3RFgJqyRF6NaofztcuB0RuQNikwWvadnP5yTGxDpU5cNdWzu3LOQU0
JWT_REFRESH_SECRET=rtsIIi1VQcaELfH28Q9E8ocMWBbeRpBv3zn0fwjKNroGyJNgs1uxoV7QU00S64AyfJp02gk0VmQvgROZ8pAll0
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3000
